<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Prédiction de tags</title>
  </head>

  <body>
    <form>
      <div>
        <label for="uname">Veuillez coller le texte de la publication ici :</label>
        <br>
        <textarea name="textarea" style="width:250px;height:150px;">
        </textarea>
        <br>
        form initialement proposé dans cet article : https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input/text
        <input type="text" id="name" name="name" required
           minlength="4" maxlength="100000" size="100" placeholder="le texte de la publication à tagguer">
      </div>
      <div>
        <button>Envoyer</button>
      </div>
    </form>
  </body>
</html>

